body {
    background: rgb(120,173,200);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title{
    text-align: center;
}

#description {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
}

table, td{
    
    text-align: right;

}

td {
    padding: 30px;    
}
table {
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    width: 70%;
}

input[type=name], input[type=email], input[type=number], textarea, select {
    padding: 12px 20px;
    width: 600px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

