* {
    margin: 0;
    padding: 0;
}


nav {
    height: 20vh;
    display: flex;
}



@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

#header-img {
    width: 600px;
    height: 110px;
}

#nav-bar {
    float: right;
    clear: both;
    margin-right: 10%;
    margin-top: 5%;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

input {
    width: 250px;
    height: 40px;
}

#submit {
    margin-top: 10px;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;

}